.caret{
   display: inline-block;
   aspect-ratio : 1;
   width : 12px;
   background: url('file:///D:/web-dev/Web%20Development/PathFinding/icon/caret-down.svg') no-repeat center center;
   background-size: contain;
   margin-left: 4px;
}

.path{
  background-color: var(--path);
  animation: pathAnimation var(--animation-duration);
}

.visited{
   background-color: var(--visited);
   animation: visitedAnimation var(--animation-duration);
}

.unvisited{
  background-color: white;
  border: 1px solid black;
}
.wall{
  background-color: var(--clr-navy);
  animation: wallAnimation 0.5s ease-out forward;
  border-color: rgb(9, 10, 10);
}

.source{
   background: url('file:///D:/web-dev/Web%20Development/PathFinding/icon/play.svg');
}

.target{
  background: url('file:///D:/web-dev/Web%20Development/PathFinding/icon/target.svg');
}

.icon {
  aspect-ratio : 1;
  width : 20px;
}



@keyframes wallAnimation {
    0% {
        transform: scale(0.3);
        background-color: var(--wall-clr);
    }
    50% {
        transform: scale(1.0);
        background-color: var(--wall-clr);
    }
    100% {
        transform: scale(1.0);
        background-color: var(--wall-clr);
    }
}

@keyframes visitedAnimation {
    0% {
        transform: scale(0.3);
        background-color: rgba(0, 0, 66, 0.75);
        border-radius: 100%;
    }
    50% {
        background-color: rgba(17, 104, 217, 0.75);
    }
    75% {
        transform: scale(1);
        background-color: rgba(0, 217, 159, 0.75);
    }
    100% {
        transform: scale(1);
        background-color: var(--visited-clr);
    }
}

@keyframes pathAnimation {
    0% {
        transform: scale(0.6);
        background-color: var(--path-clr);
    }
    50% {
        transform: scale(1);
        background-color: var(--path-clr);
    }
    100% {
        transform: scale(1.0);
        background-color: var(--path-clr);
    }
}
